@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model Ibanka.Models.Payments

@{
    ViewBag.Title = "Index";
}

<br>
<br>
<div class="col-md-2"> </div>
<div class="col-md-7">


    <h2>Maksājumi</h2>


    <div class="progressBarContainer">
        <div class="progress" style="  height:30px ;border: none;">
            <div class="progress-bar progress-bar-success" style="width: 20%; color: white; background: #1be135; padding-top: 5px">
                <p style=" font-size:15px"> 1 Datu ievade</p>
            </div>
            <div class="progress-bar progress-bar-success" style="width: 15%; color: black; padding-top: 5px; background: none">
                <p style=" font-size:15px"> 2 Datu pārbaude</p>
            </div>
            <div class="progress-bar progress-bar-success" style="width: 18%; color: black; padding-top: 5px; background: none">
                <p style=" font-size:15px"> 3 Apstiprināšana</p>
            </div>



        </div>
    </div>
    @using (Html.BeginForm("Index", "Payment", FormMethod.Post, new { @class = "form-horizontal" }))
    {

        <div class="form-group">
            <label for="inputName" class="col-sm-5 control-label">Saņēmēja nosaukums</label>
            <div class="col-sm-5">
                @Html.TextBoxFor(m => m.NamePayment, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label for="inputName" class="col-sm-5 control-label">Saņēmēja konts</label>
            <div class="col-sm-5">
                @Html.TextBoxFor(m => m.Konta2Id, new { @class = "form-control" })
            </div>
        </div>


        <div class="form-group">
            <label for="inputPassword4" class="col-sm-5 control-label">Maksājums no konta</label>
            <div class="col-sm-5">
                <div class="col-sm-13">
                    @Html.TextBoxFor(m => m.Konta1Id, new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="inputName" class="col-sm-5 control-label">Summa</label>

            <div class="col-sm-2">
                @Html.TextBoxFor(m => m.AccountMoney, new { @class = "form-control" })

            </div>
        </div>



        <div class="form-group">
            <label for="inputName" class="col-sm-5 control-label">Maksājuma mērķis</label>
            <div class="col-sm-5">  </div>
            <div class="col-sm-5">
                @Html.TextAreaFor(m => m.Resaon, new { @class = "form-control" })
            </div>
        </div>




        <div class="col-sm-9"></div>
        <div class="form-group">

            <button type="submit" class="btn btn-default">Turpināt</button>

        </div>



    }

</div>


   


