@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Ibanka.Models.Payments


@{
    ViewBag.Title = "PaymentCheck";
}

<div class="col-md-2"> </div>
<div class="col-md-7">

    <h2>Maksājumi</h2>



    <div class="progressBarContainer">
        <div class="progress" style="  height:30px ;border: none;">
            <div class="progress-bar progress-bar-success" style="width: 20%; color: white; background: #1be135; padding-top: 5px">
                <p style=" font-size:15px"> 1 Datu ievade</p>
            </div>
            <div class="progress-bar progress-bar-success" style="width: 15%; color: white; padding-top: 5px; background: #1be135">
                <p style=" font-size:15px"> 2 Datu pārbaude</p>
            </div>
            <div class="progress-bar progress-bar-success" style="width: 18%; color: black; padding-top: 5px; background: none">
                <p style=" font-size:15px"> 3 Apstiprināšana</p>
            </div>



        </div>
    </div>

    @using (Html.BeginForm("PaymentCheck", "Payment", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <form class="form-horizontal">
            <div class="form-group">
                <label for="inputName" class="col-sm-5 control-label">Saņēmēja konts</label>
                <div class="col-sm-5">
                    <label for="inputName" class="col-sm-7 control-label; style = " text-aligh: left">@Html.DisplayFor(m => m.NamePayment, new { @class = "form-control" })</label>
                </div>
            </div>
            <div class="form-group">
                <label for="inputName" class="col-sm-5 control-label">Saņēmēja konts</label>
                <div class="col-sm-5">
                    <label for="inputName" class="col-sm-7 control-label; style = " text-aligh: left">@Html.DisplayFor(m => m.Konta2Id, new { @class = "form-control" })</label>
                </div>
            </div>

            <div class="form-group">
                <label for="inputName" class="col-sm-5 control-label">Maksājums no konta</label>
                <div class="col-sm-5">
                    <label for="inputName" class="col-sm-6 control-label; style = " text-aligh: left">@Html.DisplayFor(m => m.Konta1Id, new { @class = "form-control" })</label>
                </div>
            </div>

            <div class="form-group">
                <label for="inputName" class="col-sm-5 control-label">Summa</label>
                <div class="col-sm-5">
                    <label for="inputName" class="col-sm-6 control-label; style = " text-aligh: left"> @Html.DisplayFor(m => m.AccountMoney, new { @class = "form-control" }) EUR</label>
                </div>
            </div>
            <div class="form-group">
                <label for="inputName" class="col-sm-5 control-label">Maksājuma mērķis</label>
                <div class="col-sm-5">
                    <label for="inputName" class="col-sm-6 control-label; style = " text-aligh: left">@Html.DisplayFor(m => m.Resaon, new { @class = "form-control" })</label>
                </div>
            </div>

            <div class="form-group">
                <label for="inputName" class="col-sm-5 control-label">Maksājuma uzdevuma nr.</label>
                <div class="col-sm-5">
                    <label for="inputName" class="col-sm-6 control-label; style = " text-aligh: left">@Html.DisplayFor(m => m.Id, new { @class = "form-control" })</label>

                    <div class="form-group">

                        <button type="submit" class="btn btn-default">Apstiprināt</button>

                        <br>



                    </div>


                </div>
            </div>



        </form>


    }

    <div class="col-sm-7"></div>
    <div class="form-group">

        @Html.ActionLink("Atcelt maksājumu", "Delete", "Payment", new { id = Model.Id }, new { @class = "btn btn-primary" })

    </div>








</div>